body {
    font-family: arial, sans-serif;
}

.title {
    margin: 0;
    width: 100%;
}

.dateformitem {
    width: 100%;
}

.datelabel {
    display: inline-block;
    min-width: 80px;
}

.dateinput {
    width: 80px;
}

.main {
    width: 100%;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
}

.chart {
    width: 100%;
    height: auto;
}

.statistics {
    width: 100%;
    height: auto;
}

.long_th {
    display: none;
}

.short_th {
    display: inline;
}

table {
    border-spacing: 0;
}

tr.odd_row_1 {
    background-color: #f8f8f8;
}

th {
    border-bottom: 1px solid #808080;
    color: #000;
    font-weight: bold;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-top: 12px;
}

th, td {
    border-bottom: 1px solid #cbcbcb;
    padding: 8px 8px 7px;
    text-align: left;
    overflow: hidden;
}

th.index, td.index {
    padding-right: 0;
    padding-left: 0;
    text-align: right;
}

th.number, td.number {
    max-width: 150px;
    text-align: right;
}

th.date, td.date {
    max-width: 150px;
    text-align: right;
}

/* iPhone 6s */
@media only screen and (min-width: 375px) {
    .dateformitem {
        display: inline;
        margin-right: 20px;
    }
    .datelabel {
        display: inline;
        min-width: 60px;
    }
}

/* Small tablets, such as Google Nexus 7 */
@media only screen and (min-width: 800px) {
    .chart {
        width: 40%;
        max-height: 500px;
    }

    .statistics {
        width: 60%;
    }

    th, td {
        width: 45%;
    }
    
    th.index, td.index {
        width: 5%;
    }

    th.number, td.number {
        width: 15%;
    }

    th.date, td.date {
        width: 15%;
    }
}

/* iPad mini/Air in landscape mode and net-PC */
@media only screen and (min-width: 1024px) {
    .long_th {
        display: inline;
    }

    .short_th {
        display: none;
    }
    
    .chart {
        width: 45%;
        max-height: 550px;
    }

    .statistics {
        width: 55%;
    }
}

/* iPad Pro in landscape mode and laptop */
@media only screen and (min-width: 1280px) {
    .chart {
        width: 50%;
        max-height: 600px;
    }

    .statistics {
        width: 50%;
    }
}

/* iMac 21" and desktop */
@media only screen and (min-width: 1920px) {
    .title {
        width: 90%;
        padding-left: 10%;
    }
    
    .chart {
        width: 40%;
        padding-right: 10%;
        max-height: 750px;
    }

    .statistics {
        width: 40%;
        padding-left: 10%;
    }
}