<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>analytics</web-resource-name>
            <url-pattern>/analytics</url-pattern>
            <url-pattern>/index</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
  	<servlet>
		<servlet-name>analytics_servlet</servlet-name>
		<servlet-class>com.sean.calendar.AnalyticsServlet</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>analytics_servletcallback</servlet-name>
		<servlet-class>com.sean.calendar.AnalyticsServletCallback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>analytics_servlet</servlet-name>
		<url-pattern>/analytics</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>analytics_servletcallback</servlet-name>
		<url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>
